.testimonial__container {
  width: 786px;
}
.testimonial__card {
  background-color: var(--contatiner-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
  margin-bottom: var(--mb-3);
  position: relative;
}
.testimonial__img {
  width: 60px;
  border-radius: 3rem;
  margin-bottom: var(--mb-1);
}
.testimonial__name {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-0-25);
}
.testimonial__description {
  font-size: var(--small-font-size);
}
.testimonial__card img {
  display: inline-flex;
}
.testimonial__card h3 {
  position: absolute;
  top: 2.5rem;
  left: 6.5rem;
  display: inline-flex;
}
@media (max-width: 992px) {
  .testimonial__container {
    width: initial;
  }
  .testimonial__card {
    padding: 1.25rem 1.5rem;
  }
}

@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 350px) {
  .qualification__data {
    gap: 0.5rem;
  }
}
